// views/admin/products.pug
extends layout

block content
  h1= title
  each product in products
    div
      h2= product.name
      p= product.description
      // Add more product details as needed
